{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}


{% block title %}{% if edit %}Ενημέρωση{% else %}Προσθήκη{% endif %} Αρχείου{% endblock %}
{% block head %}
    {{ form.media.css }}
    <link rel="stylesheet" href="{% static 'css/select2.css' %}">

{% endblock %}

{% block content %}
    <div id="main-content" class="container wrapper">

        <br>
        <div class="profile-card js-profile-card" style="margin: 20px">
            <h3 class="profile-card__name" style="text-align: center">{% if edit %}Ενημέρωση{% else %}Προσθήκη{% endif %} Αρχείου</h3>


            <form method="post" id="Form" action="" enctype="multipart/form-data" novalidate style="margin: 40px">
                {% csrf_token %}
                {% if form.non_field_errors %}
                    <ul>
                      {% for error in form.non_field_errors %}
                        <li>{{ error }}</li>
                      {% endfor %}
                    </ul>
                {% endif %}

                {% for hidden_field in form.hidden_fields %}
                {% if hidden_field.errors %}
                    <ul>
                        {% for error in hidden_field.errors %}
                            <li>(Hidden field {{ hidden_field.name }}) {{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                {{ hidden_field }}
                {% endfor %}


                {% for field in form.visible_fields %}
                    <div class="form-group">
                        {{ field.label_tag }}

                        {% if form.is_bound %}
                          {% if field.errors %}
    {#                          {{ field }}#}
                            {% render_field field class="form-control is-invalid" %}
                            {% for error in field.errors %}
                              <div class="invalid-feedback">
                                {{ error }}
                              </div>
                            {% endfor %}
                          {% else %}
    {#                          {{ field }}#}
                            {% render_field field class="form-control is-valid" %}
                          {% endif %}
                        {% else %}
    {#                        {{ field }}#}
                          {% render_field field class="form-control" %}
                        {% endif %}

    {#                    {% if field.help_text %}#}
    {#                      <small class="form-text text-muted">{{ field.help_text }}</small>#}
    {#                    {% endif %}#}
                      </div>

                {% endfor %}



                <hr/>

                <label for="cat1">Επιλογή Κατηγορίας</label>
                <select id="cat1" class="js-example-basic-single js-states form-control" name="cat1">
                    <option></option>
                    <optgroup label="Προπτυχιακό">
                        {% for p in prop %}
                            <option value="Προπτυχιακό/{{ p }}">Προπτυχιακό/{{ p }}</option>
                        {% endfor %}
                    </optgroup>
                    <optgroup label="Μεταπτυχιακό">
                        {% for m in meta %}
                            <option value="Μεταπτυχιακό/{{ m }}">Μεταπτυχιακό/{{ m }}</option>
                        {% endfor %}
                    </optgroup>

                </select>

                <hr/>
                <label for="cat2">Επιλογή Υποκατηγορίας</label>
                <select id="cat2" class="js-example-basic-single js-states form-control" name="cat2">
                    <option></option>
                </select>

                <div class="profile-card-ctr">
                        <a  {% if edit %}href="{% url 'file_detail' file.slug %}"{% else %}href="#" onclick="window.history.back()" {% endif %}  class="float-left">
                        <input type="button" value="Άκυρο" class="profile-card__button button--gray">
                    </a>

                        <button type="submit" {% if edit %}value="Update"{% endif %} class="profile-card__button button--blue js-message-btn float-right">
                        {% if edit %}Ενημέρωση{% else %}Προσθήκη{% endif %}
                    </button>
{#                    <button type="reset" onClick="window.history.back()" class="profile-card__button button--gray">Άκυρο</button>#}

                </div>
            </form>
        </div>
    </div>



{% endblock %}

{% block extrascripts %}
{{ form.media.js }}
    <script src="{% static 'js/select2.js' %}"></script>
    <script>

        $(document).ready(function(){
            let cat1 = $('#cat1');
            let cat2 = $('#cat2');
            let catfull = "{{ catfull }}";

            cat1.select2({
                placeholder: 'Κατηγορία',
                allowClear: true,
            });

            cat2.select2({
                placeholder: 'Μάθημα/Σ.Π.Α.',
                allowClear: true,
                enable: false,
            });

            if({catfull}){
                let res = catfull.split('/');
                console.log(res);
                cat1.val(res[0]+'/'+res[1]).trigger('change');
                cat2.prop('disabled', false);
                cat2.prop("disable", [false]);
                cat2.select2('enable', [true]);

                $.ajax({
                    async : true,
                    type : "GET",
                    url : {% url 'file_add' %},
                    dataType : "json",
                    traditional : true,
                    data: {cat1: res[0]+'/'+res[1]},

                    success : function(data) {
                        data = $.parseJSON(data);
                        console.log(data);
                        //generate <options from JSON
                        let list_html = '';

                        list_html += ' <option value=""></option>';

                        $.each(data, function(i, item) {
                            console.log(data[i]);
                            list_html += '<option value='+"'"+data[i] +"'"+ '>'+data[i]+'</option>';
                        });

                        cat2.prop("disable", [false]);
                        cat2.select2('enable', [true]);

                        $('#cat2').html(list_html);
                        console.log(list_html);
                        cat2.val(res).trigger('change');
                    },

                    error : function(xhr, ajaxOptions, thrownError) {
                        console.log(xhr.status);
                        console.log(thrownError);
                    }
                });

            }else{
                cat2.prop("disabled", true);
            }




            cat1.change( function () {
                let selected = $("#cat1 option:selected").val();
                console.log(selected);

                if(selected==='Προπτυχιακό/Εργασία Μαθήματος' || selected === 'Μεταπτυχιακό/Εργασία Μεταπτυχιακού Μαθήματος'){
                    $.ajax({
                        async : true,
                        type : "GET",
                        url : {% url 'file_add' %},
                        dataType : "json",
                        traditional : true,
                        data: {cat1: selected},


                        success : function(data) {
                            data = $.parseJSON(data);
                            console.log(data);
                            //generate <options from JSON
                            let list_html = '';

                            list_html += ' <option value=""></option>';

                            $.each(data, function(i, item) {
                                console.log(data[i]);
                                list_html += '<option value='+"'"+data[i] +"'"+ '>'+data[i]+'</option>';
                            });

                            cat2.prop("disable", [false]);
                            cat2.select2('enable', [true]);



                            $('#cat2').html(list_html);

                            console.log(list_html);

                            //set to enabled|disabled

                        },

                        error : function(xhr, ajaxOptions, thrownError) {
                            console.log(xhr.status);
                            console.log(thrownError);
                        }
                    });
                }else if(selected==='Προπτυχιακό/Εργασία Σ.Π.Α.'){
                    $.ajax({
                        async : true,
                        type : "GET",
                        url : {% url 'file_add' %},
                        dataType : "json",
                        traditional : true,
                        data: {cat1: selected},


                        success : function(data) {
                            data = $.parseJSON(data);
                            console.log(data);
                            //generate <options from JSON
                            let list_html = '';

                            list_html += ' <option value=""></option>';

                            $.each(data, function (i, item) {
                                console.log(data[i]);
                                list_html += '<option value=' + "'" + data[i] + "'" + '>' + data[i] + '</option>';
                            });

                            cat2.prop("disable", [false]);
                            cat2.select2('enable', [true]);


                            $('#cat2').html(list_html);

                            console.log(list_html);
                        },
                        error : function(xhr, ajaxOptions, thrownError) {
                            console.log(xhr.status);
                            console.log(thrownError);
                        }
                    });
                }else{
                    cat2.prop("disable", [true]);
                    cat2.prop("disabled", true);
                    cat2.prop('enable', false);
                    cat2.prop('enable', [false]);
                }
            });



            cat2.change(function () {
                let selected = $("#cat2 option:selected").val();
                console.log(selected);
            });





        });
    </script>

{% endblock %}