{% extends 'base.html' %}
{% load static %}
{% load taggit_templatetags2_tags %}
{% get_taglist as tags %}

{% block title %}Αποθετήριο{% endblock %}

{% block content %}

    <!-- Search Bar -->
    {% include 'files/searchbar.html' %}


    <!-- SIDEBAR & CONTENT -->
    <div id="main-content" class="container-fluid">
        <div class="row py-3">

            <!-- SIDEBAR -->
            <nav class="col-4 sidebar">

                <!-- AREAS -->
                <table class="table table-light">
                    <thead class="">
                        <tr>
                            <th scope="col">
                                Επιστημονικές Περιοχές
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <input id="areatreesearch" type="text" placeholder="search">
                                <div id="Areatree" style="text-align: left"></div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <hr/>

                <!-- CATEGORIES -->
                <table class="table table-light">
                    <thead>
                        <tr>
                          <th scope="col">Κατηγορίες</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <input id="cattreesearch" type="text" placeholder="search">
                                <div id="Cattree" style="text-align: left" ></div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </nav>


            <!-- FILE LIST -->
            <div class="col-8 float-right">
            <div id="list">
                {% for file in file_list %}

                    <div class="card">
                        <a class="card-header" href="{% url 'file_detail' file.slug %}"><h5>{{ file }}</h5></a>
                        <div class="card-body border border-primary">
                            <div class="row border border-success">
                                <div class="col-2 my-auto">

                                        <img class="thumbimage"
                                            {% if file.thumbnail.url %}
                                                src="{{ file.thumbnail.url }}"
                                            {% else %}
                                                src="{% static 'images/no_thumbnail.png' %}"
                                            {% endif %}
                                    alt="File thumbnail" style=""
                                    />

                                </div>
                                <div class="col my-auto">
                                    <div class="row card-semi-title">
                                        Περιγραφή:
                                        <p></p>
                                    </div>
                                    <div class="row col-margin text-justify align-middle">
                                        {{ file.summary|truncatechars:250 }}
                                    </div>

                                </div>
                                <div class="col my-auto text-left">
                                    <p><a class="card-semi-title my-auto" style="color: #007489;" >Κατηγορία:</a><i> {{ file.category }}</i></p>
                                    <p><a class="card-semi-title" style="color: #007489;">Επιστημονικές Περιοχές:</a>
                                        {% for area in file.area.all %}
                                            <i> {{ area }}</i> {% if not forloop.last %},{% endif %}
                                        {% endfor %}
                                    </p>
                                    <p><a class="card-semi-title" style="color: #007489;">Ετικέτες:</a>
                                        {% for tag in file.tags.all %}
                                            <i> {{ tag }}</i> {% if not forloop.last %},{% endif %}
                                        {% endfor %}
                                        </p>

                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

            </div>



        </div>
    </div>


{% endblock %}

{% block extrascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/jstree.min.js"></script>
    <script id="myscript" src="{% static 'js/my.js' %}" caturl="{% url 'cat_ajax_tree' %}" areaurl="{% url 'area_ajax_tree' %}"></script>
{% endblock %}