{% extends 'base.html' %}

{% block title %}Πληροφορίες{% endblock %}

{% block head %}
<style>
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #ccc;
}

.accordion:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.panel {
  padding: 2px 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
</style>

{% endblock %}

{% block content %}

<div class="container">
    <div class="terms-content">
        <h2 class="text-center">Πληροφορίες</h2>
        <p>Μπλα Μπλα Μπλα Μπλα Μπλα Μπλα Μπλα Μπλα Μπλα Μπλα Μπλα Μπλα Μπλα Μπλα Μπλα Μπλα Μπλα Μπλα Μπλα Μπλα Μπλα Μπλα Μπλα Μπλα Μπλα Μπλα Μπλα Μπλα </p>
        <button class="accordion">Τι είναι το αποθετήριο?</button>
        <div class="panel">
          <p style="padding-top: 10px">
            Το Αποθετήριο Εκπαιδευτικού Περιεχομένου Παιδαγωγικού Τμήματος Δημοτικής Αγωγής του Πανεπιστημίου Θεσσαλίας αποτελεί μια διαδυκτιακή πλατφόρμα του τμήματος Δημοτικής Αγωγής
            του Π.Θ. το οποίο δίνει την δυνατότητα στους/στις διδάσκοντες του τμήματος να αναρτούν καλές πρακτικές Σχολικής Πρακτικής Άσκησης και επιλεγμένων εργασιών μαθημάτων καθώς
            και πτυχιακών και διπλωματικών εργασιών φοιτητών/τριών του τμήματος.
          </p>
        </div>

        <button class="accordion">Όροι χρήσης</button>
        <div class="panel">
          <p style="padding-top: 10px">Οι όροι χρήσης αναπτύσσονται στην υποσελίδα <a href="{% url 'terms' %}">Όροι Χρήσης</a>.</p>
        </div>

        <button class="accordion">Επικοινωνία</button>
        <div class="panel">
          <h5 style="padding-top: 10px">Γενικά στοιχεία επικοινωνίας:</h5>
          <p ><i class="fas fa-envelope-square"></i> <a href="mailto:admin@uth.gr" style="font-size: large;"> admin@uth.gr</a></p>
          <hr/>
          <h5>Επικοινωνία με τους υπεύθυνους του έργου:</h5>
          <table border = "1" bordercolor = "green" width='100%'>
            <tr>
               <th>Ονοματεπώνυμο</th>
               <th>Ιδιότητα</th>
               <th>email</th>
            </tr>
            <tr>
               <td>Πολίτης Παναγιώτης</td>
               <td>Αναπληρωτής Καθηγητής</td>
               <td><a href="mailto:ppol@uth.gr">ppol@uth.gr</a></td>
            </tr>
            <tr>
               <td>Παπαρούση Μαρία</td>
               <td>Επιστημονική Υπέυθυνος του Έργου - Αναπληρώτρια Καθηγήτρια</td>
               <td><a href="mailto:mpaparou@uth.gr">mpaparou@uth.gr</a></td>
            </tr>
            <!-- <tr>
              <td>Παππάς Νικόλαος</td>
              <td>Ανάδοχος του Έργου</td>
              <td><a href="mailto:npappas@uth.gr">npappas@uth.gr</a></td>
            </tr> -->

         </table>
        </div>


        <hr/>
        <div style="padding: 10px">
            <p>
                Οι υπηρεσίες του «Αποθετηρίου Εκπαιδευτικού Περιεχομένου Παιδαγωγικού Τμήματος Δημοτικής Αγωγής του Πανεπιστημίου Θεσσαλίας»
                αναπτύχθηκαν στα πλαίσιο του έργου « <i>Ενίσχυση λειτουργικών και εκπαιδευτικών αναγκών - ΠΤΔΕ</i> » το οποίο χρηματοδοτήθηκε από το <a href="https://ee.uth.gr/">ΕΛΚΕ</a>.
            </p>
        </div>


    </div>



</div>

{% endblock %}


{% block extrascripts %}
<script>
const acc = document.getElementsByClassName("accordion");
let i;

for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.maxHeight) {
      panel.style.maxHeight = null;
    } else {
      panel.style.maxHeight = panel.scrollHeight + "px";
    }
  });
}
</script>

{% endblock %}