{% load static %}
{% load widget_tweaks %}

<!-- FILE LIST -->
<div class="container">
    <div class="row center">
        {% for file in file_list %}
            <div id="card" class="card">
                <div class="card-header"><a href="{% url 'file_detail' file.slug %}"><h5>{{ file }}</h5></a></div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-2">
                            <div class="">
                                <img {% if file.thumbnail.url %}
                                    src="{{ file.thumbnail.url }}"
                                {% else %}
                                    src="{% static 'images/no_thumbnail.png' %}"
                                {% endif %}
                                    alt="File thumbnail" class="thumbimage"
                                />
                            </div>
                        </div>
                        <div class="col">
                            <div class="row col-margin card-semi-title">
                                Περιγραφή:
                            </div>
                            <div class="row col-margin text-justify align-middle">
                                {{ file.summary|truncatechars:250 }}
                            </div>
                        </div>
                        <div class="col text-left">
                            <p><a class="card-semi-title" style="color: #007489;" >Κατηγορία:</a><i> {{ file.category }}</i></p>
                            <p><a class="card-semi-title" style="color: #007489;">Επιστημονικές Περιοχές:</a>
                                {% for area in file.area.all %}
                                    <i> {{ area }}</i> {% if not forloop.last %},{% endif %}
                                {% endfor %}
                            </p>
                            <p><a class="card-semi-title" style="color: #007489;">Ετικέτες:</a>
                                {% for tag in file.tags.all %}
                                    <i> {{ tag }}</i> {% if not forloop.last %},{% endif %}
                                {% endfor %}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}

        <div class="pagination center" style="color: black">
            <div class="">

                    {% if file_list.has_previous %}
                    <a id="prev" class="pagination-action centered" href="?page={{ file_list.previous_page_number }}">
                        <i class="fa fa-angle-double-left" aria-hidden="true"></i>
                    </a>
                        <a id="prev" class="pagination-action centered" href="?page={{ file_list.previous_page_number }}">
                            <i class="fa fa-angle-left" aria-hidden="true"></i>
                    </a>
                    {% else %}
                    <span style="visibility:hidden;">
                        <i class="fa fa-angle-left" aria-hidden="true"></i>
                    </span>
                    {% endif %}


                    <span class="pagination-of centered">Σελίδα </span>
                    <span class="pagination-current centered">{{ file_list.number }}</span>
                    <span class="pagination-of"> από </span>
                    <span class="pagination-total">{{ file_list.paginator.num_pages }}</span>


                    {% if file_list.has_next %}
                        <a id="next" class="pagination-action" href="?page={{ file_list.number|add:1 }}">
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                        </a>
                        <a id="next" class="pagination-action" href="?page={{ file_list.number|add:1 }}">
                            <i class="fas fa-angle-double-right"></i>
                        </a>
                    {% else %}
                        <span style="visibility:hidden;">
                            <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                        </span>
                    {% endif %}

            </div>




            </div>

    </div>
</div>











