{% load static %}
<div class="searchbar">
    <h3>Αναζήτηση στο αποθετήριο</h3>
    <input class="m-3" type="text" placeholder="Search"/>
    <br>

    <a class="in" style="cursor: pointer">Ετικέτες<span class="caret-icon fa fa-caret-down"></span></a>

    <ul id="menu" class="dropdown-menu" style="background: white">

        <div class="inline-block dropdown-item" style="border: black solid">
        {% for tag in tags %}
            <input id="{{ tag.slug }}" type="checkbox" value="{{ tag }}"/>
            <label style="vertical-align: middle;margin-right: 5px;" for="{{ tag.slug }}">{{ tag }}</label>
            {% if forloop.counter|divisibleby:6 %}<br class="m-auto">{% endif %}
        {% endfor %}
        </div>





    </ul>
</div>


<div class="card" style="margin-top: 20px">
                    <div class="card-header"><strong>Επιστημονικές Περιοχές</strong></div>
                    <div class="card-body">
                        <!-- AREAS -->

                        <div id="Areatree" style="text-align: left"></div>
                    </div>
                </div>
                <hr/>
                <div class="card">
                    <div class="card-header"><strong>Κατηγορίες</strong></div>
                    <div class="card-body">
                        <!-- CATEGORIES -->
                        <input id="cattreesearch" type="text" placeholder="search">
                        <div id="Cattree" style="text-align: left" ></div>
                    </div>
                </div>




 <div class="container">
                                 <div class="card card-area">
                                     <img src="{{ area.thumbnail.url }}" alt="area" style="width:100%" class="catimg">
                                     <div class="container">
                                         <h3><b>{{ area }}</b></h3>
                                         <div class="middle">
                                             <div class="text">John Doe</div>
                                         </div>
                                     </div>
                                 </div>
                            </div>




            # for area in areas:
            #     print(area)
            #     if '/' in area:
            #         n = area.split('/')
            #         print('n=', n)
            #         area_obj = get_object_or_404(Area, name=n[1])
            #         print('AREA OBJ= ', area_obj)
            #         q.append(area_obj)
            #     else:
            #         area_obj = get_object_or_404(Area, name=area)
            #         area_obj_descendants = area_obj.get_descendants(include_self=True)
            #         q1.append(area_obj_descendants.values('name'))
            #
            #     print('Q', q)
            #     print('Q1', q1)
            #
            #     # files = files.filter(
            #     #     Q(area__name__contains=area) |
            #     #     Q(area__name__contains=n[-1]) |
            #     #     Q(area__in=area_obj_descendants)
            #     # )
            # files = files.filter(
            #     Q(area__name__in=q) |
            #     Q(area__name__in=q1)
            # )



{% for file in file_list %}

                    <div class="card" id="card">
                        <a class="card-header" href="{% url 'file_detail' file.slug %}"><h5>{{ file }}</h5></a>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-2 center">
                                        <img class="thumbimage"
                                            {% if file.thumbnail.url %}
                                                src="{{ file.thumbnail.url }}"
                                            {% else %}
                                                src="{% static 'images/no_thumbnail.png' %}"
                                            {% endif %}
                                    alt="File thumbnail"/>
                                </div>
                                <div class="col center">
                                    <div class="row card-semi-title">
                                        Περιγραφή:
                                        <p></p>
                                    </div>
                                    <div class="row col-margin text-justify align-middle">
                                        {{ file.summary|truncatechars:250 }}
                                    </div>

                                </div>
                                <hr/>
                                <div class="col center text-left">
                                    <p><a class="card-semi-title" style="color: #007489;" >Κατηγορία:</a><i> {{ file.category }}</i></p>
                                    <p><a class="card-semi-title" style="color: #007489;">Επιστημονικές Περιοχές:</a>
                                        {% for area in file.area.all %}
                                            <i> {{ area }}</i> {% if not forloop.last %},{% endif %}
                                        {% endfor %}
                                    </p>
                                    <div><a class="card-semi-title" style="color: #007489;">Ετικέτες:</a>
                                        {% for tag in file.tags.all %}
                                            <i> {{ tag }}</i> {% if not forloop.last %},{% endif %}
                                        {% endfor %}
                                        </div>

                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}


    // $(function () {
    //
    //     var pathArray = window.location.pathname.split('/');
    //     console.log(pathArray[2]);
    //
    //
    //
    //
    //     var instance = areatree;
    //     console.log('tree instance ', instance);
    //     m = instance._model.data;
    //     console.log('m', m);
    //
    //
    //     for(var i in m) {
    //         if(m.hasOwnProperty(i) && i !== '#' && m[i].li_attr.name && m[i].li_attr.name === "asdf") {
    //             instance.select_node(i);
    //             break;
    //         }
    //     }
    //
    // });