{% extends 'base.html' %}

{% block title %}Terms of use{% endblock %}

{% block content %}
<div class="container">
    <div class="terms-content">
        <h2 class="text-center">Όροι και Πολιτική Αποδεκτής Χρήσης του Αποθετηρίου</h2>
        <p>
            Η επίσκεψη και χρήση της παρούσης δικτυακής πύλης (http://photodentro.edu.gr/aggregator/),
            στο εξής αναφερόμενης ως κεντρική πύλη του Εθνικού Συσσωρευτή Εκπαιδευτικού Περιεχομένου «ΦΩΤΟΔΕΝΤΡΟ»,
            συνεπάγεται την ανεπιφύλακτη αποδοχή των όρων που ακολουθούν, οι οποίοι ισχύουν αμέσως μετά την πρώτη σας επίσκεψη σε αυτήν.
        </p>
        <p>
            Οι όροι και η Πολιτική Αποδεκτής Χρήσης αποσκοπούν στο να βοηθήσουν τους χρήστες της κεντρικής πύλης του
            Εθνικού Συσσωρευτή Εκπαιδευτικού Περιεχομένου «ΦΩΤΟΔΕΝΤΡΟ» (εγγεγραμμένους ή μη) να κατανοήσουν τον τρόπο
            με τον οποίο μπορεί να χρησιμοποιηθεί το περιεχόμενο και οι υπηρεσίες του Εθνικού Συσσωρευτή Εκπαιδευτικού
            Περιεχομένου «ΦΩΤΟΔΕΝΤΡΟ».
        </p>
        <p>
            Όλοι οι χρήστες της κεντρικής πύλης του Εθνικού Συσσωρευτή Εκπαιδευτικού Περιεχομένου «ΦΩΤΟΔΕΝΤΡΟ»
            πρέπει να συμμορφώνονται με τη συγκεκριμένη πολιτική, ο σκοπός της οποίας είναι η ενθάρρυνση αξιοποίησης
            ψηφιακού εκπαιδευτικού υλικού, προστατεύοντας παράλληλα τους χρήστες και τα μέλη της κοινότητας του Εθνικού
            Συσσωρευτή από παράνομες ενέργειες.
        </p>

        <hr/>

        <dl>
            <ol>
                <li style="font-size: x-large; font-weight: bold; margin-bottom: 20px"><dt style="margin-bottom: 10px">Αποδεκτή Χρήση</dt>
                <ol style="font-size: initial; font-weight: normal; margin-bottom: 10px">
                    <li>
                        <p>
                            Η χρήση της κεντρικής πύλης του Εθνικού Συσσωρευτή Εκπαιδευτικού Περιεχομένου «ΦΩΤΟΔΕΝΤΡΟ»
                            υπόκειται στις διατάξεις των ελληνικών και των διεθνών νόμων, στις επιταγές του εθιμικού δικαίου,
                            καθώς επίσης και στην υποχρέωση σεβασμού των χρηστών ηθών.
                        </p>
                    </li>
                    <li>
                        <p>
                            Δεν επιτρέπεται η χρήση των υπηρεσιών της κεντρικής πύλης του Εθνικού Συσσωρευτή Εκπαιδευτικού
                            Περιεχομένου «ΦΩΤΟΔΕΝΤΡΟ» με σκοπό την πρόκληση ή την προσπάθεια πρόκλησης βλάβης σε ανήλικους.
                        </p>
                    </li>
                    <li>
                        <p>
                            Δεν επιτρέπεται η χρήση του υλικού και των υπηρεσιών της κεντρικής πύλης του Εθνικού
                            Συσσωρευτή Εκπαιδευτικού Περιεχομένου «ΦΩΤΟΔΕΝΤΡΟ» για την πραγματοποίηση ενεργειών εξαπάτησης
                            με σκοπό την αγορά ή την πώληση υλικού ή υπηρεσιών που διατίθενται μέσω της κεντρικής πύλης
                            του Εθνικού Συσσωρευτή Εκπαιδευτικού Περιεχομένου «ΦΩΤΟΔΕΝΤΡΟ».
                        </p>
                    </li>
                    <li>
                        <p>
                            Οι χρήστες/επισκέπτες/μέλη της κεντρικής πύλης του Εθνικού Συσσωρευτή Εκπαιδευτικού
                            Περιεχομένου «ΦΩΤΟΔΕΝΤΡΟ» συμφωνούν να μην κάνουν κακόβουλη χρήση αυτής ή παρεμβολές στις υπηρεσίες,
                            τους servers ή τα δίκτυα που είναι συνδεδεμένα με τις υπηρεσίες του Εθνικού Συσσωρευτή
                            Εκπαιδευτικού Περιεχομένου «ΦΩΤΟΔΕΝΤΡΟ».
                        </p>
                    </li>
                </ol></li>

                <li style="font-size: x-large; font-weight: bold; margin-bottom: 20px"><dt style="margin-bottom: 10px">Χρήση υπηρεσιών εγγεγραμμένων χρηστών</dt>
                <ol style="font-size: initial; font-weight: normal; margin-bottom: 10px">
                    <li>
                        <p>
                            Οι εγγεγραμμένοι χρήστες της κεντρικής πύλης του Εθνικού Συσσωρευτή Εκπαιδευτικού Περιεχομένου «ΦΩΤΟΔΕΝΤΡΟ»,
                            στο εξής αναφερόμενοι ως «μέλη της κοινότητας ΦΩΤΟΔΕΝΤΡΟΥ» ή απλά «μέλη», απαγορεύεται
                            να αναρτούν σχόλια ή να στέλνουν προσωπικά μηνύματα που είναι απειλητικά, προσβλητικά,
                            επιζήμια, δυσφημιστικά, χυδαία, βίαια, υβριστικά, ρατσιστικά, παραβιάζουν την προσωπικότητα και τα προσωπικά δεδομένα άλλων,
                            είναι ακατάλληλα για ανήλικους ή δύναται να προκαλέσουν βλάβη σε ανήλικους με οποιοδήποτε τρόπο,
                            προκαλούν συναισθήματα οργής, συνιστούν ποινικό αδίκημα, ή ενθαρρύνουν το είδος συμπεριφοράς που περιγράφηκε ως άνω,
                            προωθούν ή διαφημίζουν εμπορικά προϊόντα ή υπηρεσίες, άμεσα ή έμμεσα, έστω και αν αυτά έχουν σχέση
                            με την εκπαίδευση (π.χ. βιβλία).
                        </p>
                    </li>
                    <li>
                        <p>
                            Οι διαχειριστές της κεντρικής πύλης του Εθνικού Συσσωρευτή Εκπαιδευτικού Περιεχομένου «ΦΩΤΟΔΕΝΤΡΟ»
                            διατηρούν το δικαίωμα να διαγράφουν/αποδημοσιεύουν σχόλια ή/και μηνύματα μελών, που παραβιάζουν
                            τους όρους του παραπάνω άρθρου §2.1 ή γενικά είναι επιζήμια για τους χρήστες της κεντρικής πύλης,
                            στην περίπτωση που θα γίνει αντιληπτό ή θα υπάρξει αποδεδειγμένη αναφορά από μέλη της κοινότητας,
                            χωρίς ωστόσο να υποχρεούνται να ελέγχουν το σύνολο ή μη των αναρτήσεων/σχολίων.
                        </p>
                    </li>
                    <li>
                        <p>
                            Σε περίπτωση παραβίασης των όρων του παραπάνω άρθρου §2.1 οι διαχειριστές της κεντρικής
                            πύλης του Εθνικού Συσσωρευτή Εκπαιδευτικού Περιεχομένου «ΦΩΤΟΔΕΝΤΡΟ» διατηρούν το δικαίωμα
                            περιορισμού και/ή τερματισμού του λογαριασμού του μέλους καθώς και/ή της πρόσβασης στις
                            υπηρεσίες της κεντρικής πύλης του Εθνικού Συσσωρευτή Εκπαιδευτικού Περιεχομένου
                            «ΦΩΤΟΔΕΝΤΡΟ» χωρίς απαραίτητα προηγούμενη προειδοποίησή του.
                        </p>
                    </li>

                </ol></li>

                <li style="font-size: x-large; font-weight: bold; margin-bottom: 20px"><dt style="margin-bottom: 10px">Επιβολή Πολιτικής</dt>
                <ol style="font-size: initial; font-weight: normal; margin-bottom: 10px">
                    <li>
                        <p>
                            Στην περίπτωση που χρήστες/επισκέπτες της κεντρικής πύλης ή μέλη της κοινότητας ΦΩΤΟΔΕΝΤΡΟΥ εντοπίσουν
                            οποιουδήποτε είδους παραβίαση των όρων της Πολιτικής Αποδεκτής Χρήσης,
                            καλούνται να ενημερώσουν τους διαχειριστές της κεντρικής πύλης του Εθνικού Συσσωρευτή
                            Εκπαιδευτικού Περιεχομένου «ΦΩΤΟΔΕΝΤΡΟ» στέλνοντας μήνυμα στο photodentro@cti.gr και αναφέροντας συγκεκριμένα στοιχεία,
                            όπως ημερομηνία, όνομα χρήστη ή url του σχολίου ή άλλου περιεχομένου όπου διαπιστώνεται η παραβίαση.
                        </p>
                    </li>
                    <li>
                        <p>
                            Οι διαχειριστές της κεντρικής πύλης του Εθνικού Συσσωρευτή Εκπαιδευτικού Περιεχομένου «ΦΩΤΟΔΕΝΤΡΟ»
                            διατηρούν το δικαίωμα να διαγράφουν σχόλια ή και μηνύματα μελών που έχουν αποδεδειγμένα
                            αναφερθεί σαν ακατάλληλα σύμφωνα με τις ως άνω διαδικασίες.
                        </p>
                    </li>
                </ol></li>

                <li style="font-size: x-large; font-weight: bold; margin-bottom: 20px"><dt style="margin-bottom: 10px">Προσωπικά Δεδομένα Μελών</dt>
                <ol style="font-size: initial; font-weight: normal; margin-bottom: 10px">
                    <li>
                        <p>
                            Οι χρήστες, κατά την εγγραφή τους στην κεντρική πύλη του Εθνικού Συσσωρευτή Εκπαιδευτικού Περιεχομένου «ΦΩΤΟΔΕΝΤΡΟ»
                            με χρήση του λογαριασμού τους στο Πανελλήνιο Σχολικό Δίκτυο (ΠΣΔ), συναινούν ότι τα μόνα στοιχεία που
                            ανασύρονται από τη βάση δεδομένων του ΠΣΔ είναι το όνομα, το επώνυμό τους και το email τους.
                        </p>
                    </li>
                    <li>
                        <p>
                            Τα στοιχεία λογαριασμού που ζητούνται για τη σύνδεση/εγγραφή των χρηστών στην κεντρική πύλη
                            του Εθνικού Συσσωρευτή Εκπαιδευτικού Περιεχομένου «ΦΩΤΟΔΕΝΤΡΟ»
                            αποσκοπούν στη διαπίστευση της εκπαιδευτικής τους ιδιότητας και είναι απολύτως εμπιστευτικά.
                        </p>
                    </li>
                    <li>
                        <p>
                            Οι συνδεδεμένοι χρήστες / μέλη της κοινότητας ΦΩΤΟΔΕΝΤΡΟΥ συμφωνούν ότι όλες οι πληροφορίες
                            που έχουν καταχωρίσει στο προφίλ τους καθώς και όλες οι τυχόν αξιολογήσεις και τα σχόλια σε
                            υλικό τρίτων που έχουν καταθέσει, είναι δημόσια και ανοιχτά σε όλους. Ως εκ τούτου δεν αποτελούν
                            εμπιστευτικά στοιχεία που διέπονται από τους νόμους της Αρχής Προστασίας Δεδομένων
                            Προσωπικού Χαρακτήρα.
                        </p>
                    </li>
                    <li>
                        <p>
                            Η κεντρική πύλη του Εθνικού Συσσωρευτή Εκπαιδευτικού Περιεχομένου «ΦΩΤΟΔΕΝΤΡΟ»
                            δεν ευθύνεται για τυχόν εμφάνιση προσωπικών δεδομένων των μελών
                            τα οποία εμφανίζονται σε δικτυακές σελίδες μέσω υπηρεσιών καταλόγου και εξυπηρετητών αναζήτησης.
                        </p>
                    </li>
                    <li>
                        <p>
                            Τα μέλη συμφωνούν ότι οι διαχειριστές της κεντρικής πύλης του Εθνικού Συσσωρευτή Εκπαιδευτικού Περιεχομένου «ΦΩΤΟΔΕΝΤΡΟ»
                            διατηρούν το δικαίωμα πρόσβασης στον προσωπικό τους λογαριασμό
                            σε περιπτώσεις κατά τις οποίες υφίστανται τεχνικοί και/ή λειτουργικοί λόγοι.
                        </p>
                    </li>
                    <li>
                        <p>
                            Τα μέλη είναι υπεύθυνα για τη διατήρηση της εμπιστευτικότητας του λογαριασμού τους και για
                            όλες τις δραστηριότητες που πραγματοποιούνται μέσω αυτού. Στο τέλος κάθε συνεδρίας, οφείλουν
                            να αποσυνδέονται από το λογαριασμό τους. Σε περιπτώσεις κατά τις οποίες διαπιστωθεί
                            παραβίαση και/ή μη εξουσιοδοτημένη χρήση του λογαριασμού τους,
                            συμφωνούν να ενημερώσουν άμεσα τους διαχειριστές της κεντρικής πύλης.
                        </p>
                    </li>
                </ol></li>

                <li style="font-size: x-large; font-weight: bold; margin-bottom: 20px"><dt style="margin-bottom: 10px">Αποκλεισμός Λογαριασμού Μέλους</dt>
                <ol style="font-size: initial; font-weight: normal; margin-bottom: 10px">
                    <li>
                        <p>
                            Οι διαχειριστές της κεντρικής πύλης του Εθνικού Συσσωρευτή Εκπαιδευτικού Περιεχομένου «ΦΩΤΟΔΕΝΤΡΟ»
                            διατηρούν το δικαίωμα χωρίς πρότερη ενημέρωση να αποκλείσουν/περιορίσουν το λογαριασμό ενός
                            μέλους και την πρόσβαση αυτού στην κεντρική πύλη, όταν έχει κατ’ επανάληψη αναφερθεί να παραβιάζει
                            την Πολιτική Αποδεκτής Χρήσης της κεντρικής πύλης του Εθνικού Συσσωρευτή Εκπαιδευτικού Περιεχομένου «ΦΩΤΟΔΕΝΤΡΟ».
                        </p>
                    </li>
                    <li>
                        <p>
                            Τα μέλη της κοινότητας ΦΩΤΟΔΕΝΤΡΟΥ συμφωνούν ότι οι αποκλεισμοί των λογαριασμών τους είναι
                            στη διακριτική ευχέρεια των διαχειριστών της κεντρικής πύλης, οι οποίοι δεν υποχρεούνται να
                            δικαιολογηθούν σε αυτούς ή σε κάποιο τρίτο μέρος για τον τερματισμό ή τη διακοπή της πρόσβασής
                            τους στις υπηρεσίες της κεντρικής πύλης.
                        </p>
                    </li>
                </ol></li>

                <li style="font-size: x-large; font-weight: bold; margin-bottom: 20px"><dt style="margin-bottom: 10px">Αποποίηση Ευθύνης</dt>
                <ol style="font-size: initial; font-weight: normal; margin-bottom: 10px">
                    <li>
                        <p>
                            Οι πάσης φύσεως υπηρεσίες και πληροφορίες που εμπεριέχονται στην κεντρική πύλη του Εθνικού Συσσωρευτή
                            Εκπαιδευτικού Περιεχομένου «ΦΩΤΟΔΕΝΤΡΟ»  παρέχονται στη βάση του «ως έχει» και «ως διατίθενται»
                            και χωρίς καμιά απολύτως εγγύηση οποιουδήποτε είδους.
                        </p>
                    </li>
                    <li>
                        <p>
                            Δεδομένου ότι οι διαχειριστές της κεντρικής πύλης του Εθνικού Συσσωρευτή Εκπαιδευτικού Περιεχομένου «ΦΩΤΟΔΕΝΤΡΟ»
                            δεν μπορούν να ελέγχουν τους εξωτερικούς δικτυακούς τόπους και πόρους προς τους οποίους η κεντρική πύλη
                            διατηρεί συνδέσμους, οι χρήστες αναγνωρίζουν και συμφωνούν ότι η κεντρική πύλη του Εθνικού Συσσωρευτή
                            Εκπαιδευτικού Περιεχομένου «ΦΩΤΟΔΕΝΤΡΟ» δεν φέρει ουδεμία ευθύνη για τη διαθεσιμότητα αυτών,
                            και δεν προσυπογράφει, ούτε είναι υπεύθυνη για οποιοδήποτε περιεχόμενο, διαφήμιση,
                            προϊόν ή άλλο υλικό βρίσκεται ή είναι διαθέσιμο μέσω των εν λόγω δικτυακών τόπων ή πόρων.
                            Επιπλέον, οι χρήστες αναγνωρίζουν και συμφωνούν ότι η κεντρική πύλη του Εθνικού Συσσωρευτή Εκπαιδευτικού
                            Περιεχομένου «ΦΩΤΟΔΕΝΤΡΟ» δεν φέρει ουδεμία ευθύνη, άμεσα ή έμμεσα, για τυχόν ζημιά ή απώλεια προκαλείται
                            ή φέρεται να προκαλείται από ή σε σχέση με τη χρήση ή την εξάρτηση από οποιοδήποτε περιεχόμενο,
                            προϊόντα ή υπηρεσίες διατίθενται από έναν εξωτερικό δικτυακό τόπο ή πόρο, καθώς και ότι δεν είναι υπεύθυνο
                            για την πολιτική ασφαλείας του και για τον τρόπο διαχείρισης των ηλεκτρονικών επισκεπτών του.
                        </p>
                    </li>
                </ol></li>



            </ol>

        </dl>
        <hr/>
        <p class="font-weight-bold">Ο χρήστης/επισκέπτης/μέλος της κεντρικής πύλης του Εθνικού Συσσωρευτή Εκπαιδευτικού Περιεχομένου «ΦΩΤΟΔΕΝΤΡΟ» συμφωνεί και αποδέχεται πλήρως τους ανωτέρω όρους.</p>

    </div>
</div>
{% endblock %}